footer {
  display: flex;
  width: 100vw;
  height: 120px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(184, 184, 184, 0.8);
  color: rgb(255, 255, 255);
}

.foottxt {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.foottxt p {
  margin: 5px;
}

.foottxt span {
  color: black;
}

.partIMG {
  height: 100px;
}

.partIMG img {
  height: 100%;
}