header {
  margin: 50px 0px;
  width: 80vw;
}

.headtop {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.titre {
  flex: 1;
  text-align: center;
  user-select: none;
}

.titre h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rem;
}

.titre span {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
  font-size: 1.5rem;
}

.social {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.social a {
  margin-left: 20px;
}

#headbarre {
  height: 3px;
  width: 100%;
  background-color: rgb(199, 199, 199);
  border-radius: 50px;
  margin: 20px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px;
  font-size: 1.5rem;
  transition: 0.2s;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

nav h3:hover {
  color: red;
  transform: scale(110%);
}
