.header,
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100vw;
}

.container-full {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: rgba(221, 221, 221, 0.8);
  height: 35rem;
  text-align: center;
  border-radius: 4px;
}

.wrapper {
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.al-center {
  padding: 0 6rem;
}

.img-cote {
  width: 270px;
  height: 270px;
  z-index: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title {
  z-index: 2;
  position: absolute;
  bottom: 7%;
  left: 0;
  text-align: center;
  height: 2rem;
  line-height: 2;
  width: 100%;
  text-shadow: #ffffff 1px 1px 1px, #ffffff -1px 1px 1px, #ffffff -1px -1px 1px,
    #ffffff 1px -1px 1px;
  background-color: rgba(233, 233, 233, 0.8);
  font-family: Arial, sans-serif;
}

.box-title {
  position: relative;
}

.box-text {
  padding: 0 1.5rem;
}

.sub-title {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 2rem auto;
}

.p-header {
  margin-bottom: 2rem;
  font-family: Arial, sans-serif;
}

.detail-barre {
  height: 3px;
  width: 93%;
  background-color: rgb(61, 61, 61);
  border-radius: 50px;
  margin: 20px auto;
}

#section-cote {
  padding-left: 4rem;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}

.wrapper-carousel {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  height: 20rem;
}

.slick-prev:before,
.slick-next:before {
  line-height: 1;
}

.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 2px solid #fff;
}
.wrapper-carousel .slick-dots li button:before {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0);
}

.box-picture {
  width: 470px;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 10rem;
  margin-bottom: 4rem;
}

#first-pic {
  height: 320px;
  width: 470px;
  margin-bottom: 1px;
}

.others-pic {
  height: 150px;
  width: 150px;
  margin: 2px;
}

.box-text {
  width: 70%;
  margin: 0 auto;
}

.box-text-detail {
  padding-right: 5rem;
  width: 50%;
}
.box-text-left {
  padding-left: 5rem;
  width: 50%;
}

.title-mop {
  margin-top: 5rem;
}

.sub-title-mop {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.wrapper-pictxt {
  display: flex;
}

.box-paragraphe {
  height: 70vh;
  width: 100%;
  border: 1px solid black;
  margin: 0;
}

.box-ancre {
  text-align: end;
  margin: 1rem 0;
}

.ancre-inscr {
  background-color: #b6b6b6;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .img-cote {
    width: 180px;
    height: 150px;
  }

  .container {
    width: 180px;
    height: 30rem;
  }

  .sub-title {
    font-size: 1.2rem;
  }
}
