.center-elt {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}

.ligne {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.axe1-start {
  justify-content: flex-start;
}
.axe1-center {
  justify-content: center;
}
.axe1-sp-around {
  justify-content: space-around;
}
.axe1-sp-between {
  justify-content: space-between;
}
.axe2-center {
  align-items: center;
}

.margin-top30 {
  margin-top: 30px;
}

.padding-all {
  padding: 20px;
}

.padding-V10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-bot20 {
  padding-bottom: 20px;
}
.padding-H10 {
  padding-left: 10px;
  padding-right: 10px;
}

.title-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
}
.dx100 {
  width: 100%;
}
.vw80 {
  width: 80vw;
}

/* CYRIL: Styles Spécifiques ************************/
// .wrapper2 {
//   /* height: 90vh; */
//   width: 90vw;
//   margin: 0 auto;
// }

.img-cote2 {
  width: 230px;
  height: 230px;
  // z-index: 1;
  border-radius: 10px;
}
